.body {
    height: 100%; 
    margin: 0; 
    padding: 0;
}

.container {
    width: 100%;
    padding: 0% 0% 0% 0%;
    display: flex;
    color: black;
    background-color: rgb(184, 179, 255);
}

.mine.header {
    padding: 0% 0% 0% 8%;
    font-size: 60%;
    text-align: left;
    white-space: nowrap;
    Font-family: arial;
    color: rgb(40, 17, 43);
}

.myproject.header {
    padding: 0% 0% 0% 8%;
    font-size: 60%;
    white-space: nowrap;
    Font-family: arial;
    color: rgb(40, 17, 43);
}

.connect.header {
    padding: 0% 0% 0% 8%;
    font-size: 60%;
    white-space: nowrap;
    Font-family: arial;
    color: rgb(40, 17, 43);
}

.welcome {
    width: 90%;
    padding: 8% 0% 0% 8%;
    font-size: 280%;
    text-align: left;
    white-space: nowrap;
    font-weight: bold;
    Font-family: times;
    color: rgb(62, 66, 95);
}

.about {
    width: 50%;
    padding: 0% 0% 0% 8%;
    font-size: 130%;
    text-align: left;
    white-space: normal;
    font-weight: bold;
    Font-family: times;
    color: rgb(62, 66, 95);
}

.aboutme {
    width: 80%;
    max-width: 80%;
    padding: 2% 15% 3% 5%;
    font-size: 80%;
    text-align: left;
    white-space: normal;
    font-weight: bold;
    Font-family: times;
    color: rgb(218, 218, 218);
    background-color: rgb(62, 66, 95);
}

.aboutmeright {
    width: 100%;
    max-width: 100%;
    padding: 0% 0% 0% 0%;
    margin: 0%;
}

.skip {
    width: 100%;
    padding: 15% 0% 0% 0%;
    background-color: white;
}

.backmade {
    position: absolute;
    width: 100%;
    max-width: 100%;
    padding: 1% 0% 1% 0%;
    font-size: 50%;
    text-align: center;
    white-space: normal;
    font-weight: bold;
    Font-family: times;
    color: white;
    background-color: rgba(0, 6, 85, 0.699);
}

.unity {
    width: 40%;
    padding: 1% 2% 1% 0%;
    margin: 5% 5% 5% 5%;
    font-size: 60%;
    white-space: pre;
    text-align: left;
    white-space: normal;
    color: white;
    background-color: rgb(62, 66, 95);
}

.android {
    width: 40%;
    padding: 1% 2% 1% 0%;
    margin: 5% 5% 5% 5%;
    font-size: 60%;
    text-align: left;
    white-space: normal;
    color: white;
    background-color: rgb(62, 66, 95);
}

.skipproject {
    width: 50%;
    padding: 1% 2% 1% 0%;
    margin: 5% 5% 5% 5%;
    color: white;
    background-color: white;
}

.connects {
    width: 25%;
    padding: 1% 0% 1% 5%;
    margin: 5% 0% 0% 5%;
    font-size: 60%;
    white-space: pre;
    text-align: left;
    white-space: normal;
    color: white;
    background-color: rgb(62, 66, 95);
}